SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SECRET_KEY=your_supabase_secret_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

VAPID_PUBLIC_KEY=BL529DkLnbl7Q2lWE1efBhhKyrB4krAsSVQTACVDRfGmVwWoWwQLu4Y4G1aQ9s4XccQ1qcwticygVinLq7nZc7k
VAPID_PRIVATE_KEY=vyYOaZlloH1YJVbk_Kh2OMf9XAePKZggbWMqOtTDc-Q
VAPID_SUBJECT=mailto:you@example.com

VITE_VAPID_PUBLIC_KEY=your_vapid_public_key

CRON_SECRET=OJsYXuRr5ONH7ZH5oBl7uaxcvGrp/6SRSqeCr1dRr2c=
